*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(160, 0, 0);
    padding: 25px;
}
.container form{
    width: 700px;
    padding: 40px;
    background-color: rgb(241, 230, 236);
    border-radius: 15px;
}

form .row{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.row .column{
    flex: 1 1 250px;
}
.column .title{
    font-size: 25px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.column .input-box{
    width: 100%;
    padding: 5px 10px;
    border: rgb(59, 0, 0)
    border-radius: 15px;
    font-size: 15px;
}
.input-box spam{
    display: block;
    margin-bottom: 10px;
}
.column .flex{
    display: flex;
    gap: 15px;
}
.flex .input-box{
    margin-top: 5px;
}
.input-box img{
    heigth: 34px;
    margin-top: 5px;
    filter:drop-shadow(0 0 1px black);
}
form .btn{
    width: 100%;
    padding: 12px;
    background-color: rgb(88, 0, 0);
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 17px;
    color: rgb(255, 255, 255);
    margin-top: 5px;
    cursor: pointer;
    transition: .5s;
}
form .btn:hover{
    background: rgb(164, 0, 0);
}